@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model clf_blog.Model.BlogModel.Blog[]
@{
    ViewData["Title"] = "列表";
    var basehref = "/Home/Article?Id=";
}
@section Side{
    @Html.Partial("MainSide")
}
<div id="mainspace"></div>
<div id="bltop">
    <link rel="stylesheet" href="/css/bloglist.css">
    @if (Model != null)
    {

        @foreach (var bl in Model)
        {
            var text = bl.Content;
            if (text.Length > 300)
            {
                text = text.Substring(0, 300);
                text += "......";
            }
            <div class="blitem">
                <a class="bltitle" href="@(basehref + bl.Id)">
                    @bl.Title
                </a>
                <div class="bltime">
                    @bl.Time
                </div>
                <div class="blcontent">
                    @Html.Raw(text)
                </div>
                <div class="blfooter">
                    <span>查看(@bl.SeeSum)</span>
                    <span>作者:@(new clf_blog.Model.AuthorModel().GetAuthorInfo(bl.AuthorId).Name)</span>
                </div>
            </div>

        }
    }
    else
    {
        <h2 style="text-align:center;margin:100px 0 100px 0;">没有相关内容.........</h2>

    }


</div>
@Html.Partial("PageSplit",ViewContext.HttpContext.Request.Query)